bin
build
# -> for the script to work we need the /bin and the /build/rel folder (empty)
# for that execute the setup_workspace.bat script!

# coming soon?
manual

# no presets or so on
overlay/**
!overlay/dodge_challenge.*