#bin
#build
# -> for the script to work we need the /bin and the /build/rel folder (empty)
# so why dont include bin and build...

# coming soon?
manual

# no presets or so on
overlay/**
!overlay/dodge_challenge.*

# in case vscode does stuff...
.vscode